/*tres tipos de selectores*/
/*selector de elementos, ejemplo H1*/
h1 {
    background-color: brown;
    color: yellow;
    border: 4px dotted black;
}
/*selector de ID, se utiliza el numeral*/
#nav {
    background-color: aquamarine;
    clear: left;
}
/*selector de clase, en este caso se arranca con un punto(.)*/
.titulo {
    background-color: brown;
    color: yellow;
    border: 4px dotted black;
}

img{
    float: left;
    margin: 17px;
    padding: 8px;
}
#galeria{
    max-width: 80%;
}

body{
    max-width: 100%;
}

div{
    float: left;
    margin: 17px;
    padding: 8px;
}

#alejo{
    float: right;
    margin: 17px;
    padding: 8px;
}