.container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.item {
    background-color: coral;
    /* letter-spacing: 25px; */
    width: 200px;
    color: white;
    text-align: center;
    height: 150px;
    margin: 10px;
    font-size: 30px;
}
